<div class="footer-container">
  <p class="footer-description">Shipamax enables you to internally share fleet openings & the commercial status of each ship. Details can be accessed in real-time by the whole team, across multiple locations.</p>
  <button class="footer-button">Free Sign Up</button>
  <div class="footer-bar-container">
    <div class="footer-copyright-container">
      <p class="copyright-description">© 2016 Shipamax Ltd, 1 Sekforde Street, EC1R 0BE, London (UK)</p>
      <p class="privacy-description">Privacy Policy • Terms & Conditions</p>
    </div>
    <div class="social-items-container">
      <a class=" fa fa-facebook social-item"></a>
      <a class=" fa fa-twitter social-item"></a>
      <a class=" fa fa-linkedin social-item"></a>
    </div>
  </div>
</div>
