.footer-container {
  padding: 60px 20px;
}

.footer-description {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.8;
}

.footer-button {
  background: #fe663a;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  margin: 40px auto;
  padding: 20px 50px;
}

.footer-bar-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.footer-copyright-container {
  font-size: 0.8em;
  width: 100%;
}

.copyright-description {
  margin-bottom: 10px;
}

.privacy-description {
  margin-bottom: 10px;
}

.social-items-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.social-item {
  color: #999;
  padding: 10px;
}

/* MODAL */

.modal-container {
  background: rgba(0,0,0,0.6);
  height: 100%;
  left: 0;
  top: 0;
  padding: 30px 10px;
  position: fixed;
  right: 0;
  transition: all 0.5s ease;
  width: 100%;
}

.form-container {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 10px;
  position: relative;
}

.modal-logo {
  height: 40px;
  margin-bottom: 20px;
}

.modal-header {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  position: relative;
}

.modal-form-input {
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 1.7em;
  height: 60px;
  margin: 10px 0;
  padding-left: 5px;
  width: 100%;
}

.modal-form-button {
  border: none;
  background: #fe663a;
  font-size: 1.3em;
  font-weight: 700;
  height: 60px;
  position: relative;
  width: 100%;
}

.fa-arrow-right {
  position: absolute;
  right: 20px;
}

.fa-times {
  cursor: pointer;
  left: 20px;
  position: absolute;
  top: 20px;
}


@media (min-width: 768px) {
  .footer-description {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {

  .footer-container {
    padding: 120px 20px 20px 20px;
  }

  .footer-description {
    font-size: 1.2em;
    margin: 0 auto;
    width: 50%;
  }

  .footer-button {
    margin-bottom: 80px;
  }

  .footer-bar-container {
    justify-content: space-between;
  }

  .footer-copyright-container {
    width: 30%;
    text-align: left;
  }

  .social-items-container {
    width: 30%;
    justify-content: flex-end;
  }
}
