<div class="content-container">
  <h2 class="pricing-header">What Does it Cost?</h2>
  <div class="pricing-table-container">
    <div class="pricing-column-1">
      <h3 class="feature-list-header">Feature</h3>
      <ul class="feature-list">
        <li class="pricing-feature-item">Fleetmanager</li>
        <li class="pricing-feature-item">Satellite AIS*</li>
        <li class="pricing-feature-item">Vessel Particulars</li>
        <li class="pricing-feature-item">Bunkermanager</li>
        <li class="pricing-feature-item">Tonnage Daybook</li>
        <li class="pricing-feature-item">Cargo Daybook</li>
        <li class="pricing-feature-item">Tonnage Dealpage</li>
        <li class="pricing-feature-item">Cargo Dealpage</li>
        <li class="pricing-feature-item">Distance Calculation</li>
        <li class="pricing-feature-item">SmartInbox</li>
        <li class="pricing-feature-item">E-Signing</li>
        <li class="pricing-feature-item">API</li>
        <li class="pricing-feature-item">Price</li>
      </ul>
    </div>
    <div class="pricing-column-2">
      <h3 class="feature-standard-header">Standard</h3>
      <ul class="feature-standard-list">
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="fa fa-check-circle feature-standard"></p></li>
        <li><p class="feature-standard"> </p></li>
        <li><p class="feature-standard">20$/per</p></li>
        <li><p class="feature-standard"> </p></li>
        <li><p class="feature-standard feature-price">FREE</p></li>
      </ul>
    </div>
    <div class="pricing-column-3">
      <h3 class="feature-pro-header">Pro</h3>
      <ul class="feature-pro-list">
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="fa fa-check-circle feature-pro"></p></li>
        <li><p class="feature-pro">20$/per</p></li>
        <li><p class="feature-pro">On Request</p></li>
        <li><p class="feature-pro feature-price">$200 / mo</p></li>
      </ul>
    </div>
  </div>
</div>
