.navbar-container {
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  height: 108px;
  align-items: center;
  width: 100%;
}

.navbar-logo-container {
  display: flex;
  justify-content: center;
  order: 2;
}

.navbar-logo-container-top {
  order: 0;
  width: 100%;
}

.navbar-logo {
  height: 22px;
  visibility: hidden;
}

.navbar-logo-visible {
  visibility: visible;
  margin-top: 0;
}

.navbar-list {
  color: white;
  display: flex;
  list-style: none;
  margin-left: 20px;
  order: 1;
}

.navbar-item-black {
  color: black
}

.navbar-item {
  color: inherit;
  font-size: 0.9em;
  padding: 10px 8px;
}

.navbar-button-container {
  display: flex;
  order: 3;
}

.navbar-button {
  background: #fe663a;
  color: white;
  display: none;
  margin-left: auto;
  margin-right: 30px;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
}

@media (min-width: 768px) {

  .navbar {
    justify-content: space-between;
    width: 100%;
  }

  .navbar-list,
  .navbar-button-container,
  .navbar-logo-container {
    width: 33.33%;
  }

  .navbar-list {
    margin-left: 0px;
  }

  .navbar-item {
    font-size: 1.1em;
    padding: 15px 20px;
  }

  .navbar-item:first-of-type {
    margin-left: 20px;
  }

  .navbar-logo-container {
    order: 2;
  }

  .navbar-button {
    display: inline;
    font-size: 1.1em;
  }
}

@media (min-width: 1000px) {
  .navbar-logo-container-top {
    order: 2;
    width: 33%;
  }

  .navbar-item {
    padding: 15px 35px;
  }
}
