<div class="main-container">
  <div class="product-container container-1">
    <div class="container-1-content-container">
      <div class="left-content">
        <h3 class="container-1-header">Trade Wherever You Are</h3>
        <p class="container-1-description">Before Shipamax, we used to email around excel sheets which couldn’t be accessed on-the-go. This slowed down our ability to react when travelling and meant we would miss out on deals. Now, all team members can track the status of the fleet wherever they are.</p>
      </div>
      <div class="center-content">
        <h3 class="container-1-header">Communicate Seamlessly Between Offices</h3>
        <p class="container-1-description">Keeping on track of the fleet between different time zones is a nightmare… before Shipamax the frequented solution was the 2am call from the Singapore office…</p>
      </div>
      <div class="right-content">
        <h3 class="container-1-header">Overcome Legacy Software</h3>
        <p class="container-1-description">We pool with another office that uses a different ERP - so it’s hard for us to just use this as the basis of what’s coming up. With Shipamax, we can all collaborate in one place - and since it’s free there’s no argument over who picks up the bill!</p>
      </div>
    </div>
  </div>
  <div class="product-container container-2">
    <div class="container-2-content-container">
      <h3 class="container-2-header">How Does it Work?</h3>
      <p class="container-2-description">Commercial and operational vessel statuses, rates and intentions automatically shared between team members.</p>
      <div class="container-2-image-container">
        <img class="container-2-image" src="/assets/shipamax/images/product1.png">
      </div>
    </div>
  </div>
  <div class="product-container container-3">
    <div class="container-3-content-container">
      <div class="container-3-image-container">
        <img class="container-3-image" src="/assets/shipamax/images/product2.png">
      </div>
      <div class="container-3-description-container">
        <p class="container-3-description">Update openings and commercial status as you trade, from anywhere.</p>
      </div>
    </div>
  </div>
  <div class="product-container container-4">
    <div class="container-4-content-container">
      <div class="container-4-description-container">
        <p class="container-4-description">Easily add commercially managed fleet.</p>
      </div>
      <div class="container-4-image-container">
        <img class="container-4-image" src="/assets/shipamax/images/product3.png">
      </div>
    </div>
  </div>
  <div class="product-container container-5">
    <h3 class="container-5-header">Sharing Externally with Brokers</h3>
    <div class="container-5-image-container">
      <img class="container-5-image" src="/assets/shipamax/images/product4.png">
    </div>
    <div class="container-5-description-container">
      <ul class="container-5-list">
        <li>Select vessels you wish to share</li>
        <li>Add brokers you wish to share with</li>
        <li>Select to share opening dates, vessel particulars or both</li>
        <li>Click to send</li>
      </ul>
    </div>
  </div>
</div>
