<div class="content-container">
  <h2 class="guides-header">Shipamax Guides</h2>
  <div class="guides-container">
    <div class="guides-item guides-1">
      <a class="fa fa-question fa-3x"></a>
      <p class="guides-description">A beginner’s guide to the Baltic 99 questionnaire</p>
    </div>
    <div class="guides-item guides-2">
      <a class="fa fa-gavel fa-3x"></a>
      <p class="guides-description">A beginner’s guide to bulk vessel certificates</p>
    </div>
    <div class="guides-item guides-3">
      <a class="fa fa-ship fa-3x"></a>
      <p class="guides-description">A beginner’s guide to ShipTech in bulk shipping</p>
    </div>
  </div>
</div>
